*{
    box-sizing: border-box;
}
.box{
    display: flex;
    margin: auto;
    height: 100px;
    width: 90%;
    transform: translate(0%, 100%);
}
.head{
    width: 119px;
    height: 70%;
    position: absolute;
    top: -20px;
    left: -10px;
    z-index: 1000;
}
.ears{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50% 50% 0 0 / 100% 100% 0 0;
    background: rgb(255, 230, 0);
    border:2px solid black;
    border-bottom: none;
    
}
.ear1{
    position: absolute;
    top: 65%;
    left: -1%;
    width: 25px;
    height: 28px;
    background: rgb(255, 230, 0);
    border:2px solid black;
    border-top: none;
    border-radius: 5px 0px 10px 10px;
    transform: rotate(12deg);
}
.ear2{
    position: absolute;
    top: 65%;
    left: 80%;
    width: 25px;
    height: 28px;
    background: rgb(255, 230, 0);
    border:2px solid black;
    border-top: none;
    border-radius: 0px 5px 10px 10px;
    transform: rotate(-11deg);
}
.eye1{
    position: absolute;
    top: 33%;
    left: 24%;
    border-radius: 100%;
    background: black;
    width: 25px;
    height: 25px;
}
.eye2{
    position: absolute;
    top: 33%;
    left: 56%;
    border-radius: 100%;
    background: black;
    width: 25px;
    height: 25px;
}
.white{
    position: relative;
    top: 6%;
    left: 20%;
    border-radius: 100%;
    background: white;
    width: 20px;
    height: 20px;
}
.mouth{
    position: absolute;
    top: 50%;
    left: 35%;
    width: 35px;
    height: 26px;
    background: rgb(255, 230, 0);
    border-radius: 80% 80% 0 0 / 100% 100% 0 0;
    border:2px solid black;
    border-bottom: none;
}
.mouth1{
    position: absolute;
    top: 50%;
    left: -6%;
    width: 16px;
    height: 16px;
    background: rgb(255, 230, 0);
    border:2px solid black;
    border-top: none;
    border-radius: 0px 0px 10px 10px;
}
.mouth2{
    position: absolute;
    top: 50%;
    left: 58%;
    width: 16px;
    height: 16px;
    background: rgb(255, 230, 0);
    border:2px solid black;
    border-top: none;
    border-radius: 0px 0px 10px 10px;
}
.black{
    position: absolute;
    z-index: 1000;
    top: 30%;
    left: 30%;
    width: 13px;
    height: 13px;
    background: black;
    border-radius: 100%;
}
.legs{
    height: 100%;
    width: 70px;
    position: absolute;
    top: 50px;
    left: 35px;
}
.leg1{
    position: absolute;
    top: 40%;
    left: 20%;
    width: 32%;
    height: 32%;
    background: rgb(255, 230, 0);
    border: 2px solid black;
    border-top: none;
    border-radius: 0px 0 10px 10px;
}
.leg1_1{
    position: absolute;
    top: 50%;
    left: -70%;
    width: 23px;
    height: 17px;
    background: rgb(255, 230, 0);
    border: 2px solid black;
    border-right: none;
    border-radius: 10px 10px 0px 0px;
}
.leg2{
    position: absolute;
    top: 27%;
    left: 60%;
    width: 32%;
    height: 55%;
    background: rgb(255, 230, 0);
    border: 2px solid black;
    border-top: none;
    border-radius: 0px 0 10px 10px;
}
.leg1_2{
    position: absolute;
    top: 72%;
    left: -70%;
    width: 23px;
    height: 17px;
    background: rgb(255, 230, 0);
    border: 2px solid black;
    border-right: none;
    border-radius: 10px 10px 0px 0px;
}
.body{
    margin: auto;
    width: 100%;
    height: 80%;
    background: rgb(255, 230, 0);
    border:2px solid black;
    border-radius: 40px;
}
.back{
    width: 50px;
    height: 70%;
    position: absolute;
    top: -20px;
    left: 100%;
}
.tail{
    position: absolute;
    top: -16%;
    left: -100%;
    width: 50px;
    height: 50px;
    background: rgb(255, 230, 0);
    border:2px solid black;
    border-bottom: none;
    border-radius: 10px 40px 0px 0px;
    transform: rotate(18deg);
}
.tail1{
    position: absolute;
    top: -6%;
    left: -10%;
    width: 35px;
    height: 50px;
    background: white;
    border:2px solid black;
    border-top: none;
    border-left: none;
    transform: rotate(-6deg);
    border-radius: 0px 28px 5px 0px;
}
.legs2{
    height: 100%;
    width: 70px;
    position: absolute;
    top: 130%;
    left: -220%;
}
.leg3{
    position: absolute;
    top: 27%;
    left: 20%;
    width: 32%;
    height: 55%;
    background: rgb(255, 230, 0);
    border: 2px solid black;
    border-top: none;
    border-radius: 0px 0 10px 10px;
}
.leg2_1{
    position: absolute;
    top: 57%;
    left: -70%;
    width: 23px;
    height: 17px;
    background: rgb(255, 230, 0);
    border: 2px solid black;
    border-right: none;
    border-radius: 10px 10px 0px 0px;
}

.leg4{
    position: absolute;
    top: 5%;
    left: 55%;
    width: 32%;
    height: 77%;
    background: rgb(255, 230, 0);
    border: 2px solid black;
    border-top: none;
    border-radius: 0px 0 10px 10px;
}
.leg2_2{
    position: absolute;
    top: 71%;
    left: -70%;
    width: 23px;
    height: 17px;
    background: rgb(255, 230, 0);
    border: 2px solid black;
    border-right: none;
    border-radius: 10px 10px 0px 0px;
}